/**
 * Typography
 */
/**
 * Variables
 */
/**
 * Mixins
 */
body {
  font: 17px "Open Sans", sans-serif;
  line-height: 1.6;
  color: #666666;
  padding: 20px;
  line-height: 1.9;
  word-wrap: break-word;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}
body h1 {
  font: 1.4em "Montserrat", sans-serif;
  color: #232323;
  border-bottom: 1px solid #ebe7df;
  padding-bottom: 5px;
}
body h2 {
  font: 1.25em "Montserrat", sans-serif;
  color: #1f7f5c;
  border-bottom: 1px solid #ebe7df;
  padding-bottom: 5px;
}
body h3 {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: #232323;
  font: 1.1em;
}
body h4 {
  font-size: .9em;
  text-transform: uppercase;
}
body h5 {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 300;
}
body h6 {
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold;
}
body a {
  color: #1f7f5c;
  text-decoration: underline;
}
body a:hover {
  color: #19664a;
}
body p, body ul, body ol, body address, body pre, body table,
body input[type="text"], body input[type="password"] {
  margin-bottom: 15px;
}
body label {
  font-weight: 300;
}
body ul li {
  list-style: disc;
  margin-left: 20px;
}
body ol li {
  list-style: decimal;
  margin-left: 20px;
}
body q,
body blockquote {
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 15px;
}
body cite {
  font-size: .8em;
  font-weight: bold;
  margin-top: 10px;
}
body small {
  font-size: .6em;
}
body em, body i {
  font-style: italic;
}
body strong {
  font-weight: bold;
}
body sup {
  font-size: .6em;
  vertical-align: super;
}
body sub {
  font-size: .6em;
  vertical-align: sub;
}
body table {
  width: 100%;
}
body table thead tr {
  background: #cfcfcf;
}
body table thead tr th {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
}
body table tbody tr:nth-child(even) {
  background: #efefef;
}
body table tbody tr th,
body table tbody tr td {
  padding: 5px 10px;
  vertical-align: top;
}
body dl dt {
  font-weight: bold;
}
body dl dd {
  margin-left: 40px;
  font-weight: 300;
}
body address {
  font-weight: 300;
  margin-left: 40px;
}
body acronym,
body abbr {
  font-weight: 300;
}
body big {
  font-weight: bold;
  font-size: 1.2em;
}
body var,
body code,
body kbd,
body pre,
body code {
  font-family: monospace, serif;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
body pre {
  font-size: .8em;
  padding: 30px 40px;
  border: 1px solid #dfdfdf;
  background: #efefef;
}
body .gallery-caption,
body .wp-caption-text {
  font-size: .7em;
  padding: 5px 10px 0;
  color: #afafaf;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.3;
}
body .aligncenter {
  margin: 0 auto 10px;
  display: block;
}
body .alignleft {
  float: left;
  margin: 0 20px 10px -0;
}
body .alignright {
  float: right;
  margin: 0 0 10px 20px;
}
