/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 *   5.1 - Entry Header
 *   5.2 - Entry Meta
 *   5.3 - Entry Content
 *   5.4 - Galleries
 *   5.5 - Post Formats
 *   5.6 - Attachments
 *   5.7 - Post/Paging Navigation
 *   5.8 - Author Bio
 *   5.9 - Archives
 *   5.10 - Search Results/No posts
 *   5.11 - 404
 *   5.12 - Comments
 *   5.13 - Multisite
 * 6.0 - Sidebar
 *   6.1 - Widgets
 * 7.0 - Footer
 * 8.0 - Media Queries
 * 9.0 - Print
 * ----------------------------------------------------------------------------
 */
.sprites-sprite, #top-nav #top-nav-toggle, body.expanded #top-nav #top-nav-toggle, #content article .entry-header .entry-original-link a:hover:before, #content article .entry-header .entry-original-link a:before, #nav-below .nav-next a:after, #nav-below .nav-previous a:after, #comments .pingback .comment-wrap .comment-reply-link,
#comments .comment .comment-wrap .comment-reply-link, #comments .pingback .comment-wrap .comment-reply-link:hover,
#comments .comment .comment-wrap .comment-reply-link:hover, #comments .pingback .comment-wrap .comment-reply-link:active,
#comments .comment .comment-wrap .comment-reply-link:active {
  background: url('../images/sprites-s5e6e2a3f66.png') no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 20px "Open Sans", sans-serif;
  line-height: 1.6;
  background: #ebe7df;
  color: #666666;
}

a {
  color: #1f7f5c;
  text-decoration: none;
}

.wrap-outer {
  display: block;
  width: 100%;
}

.wrap {
  display: block;
  margin: 0 15px;
}

.screen-reader-text {
  display: none;
}

#header {
  display: block;
  width: 100%;
  height: 210px;
  position: relative;
  z-index: 50;
  color: white;
}
#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#header .wrap {
  padding: 70px 0 0;
}
#header a {
  color: white;
}
#header.dark {
  color: #232323;
}
#header.dark a {
  color: #232323;
}
#header.single .page-theme {
  font-size: 16px;
}

.page-theme {
  font: 25px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-left: 10px;
}
.page-theme a {
  text-decoration: none;
}

.page-theme-description {
  font: italic 13px "Open Sans", sans-serif;
  margin-left: 10px;
}
.page-theme-description strong {
  font-weight: bold;
}

#top-nav {
  display: block;
  position: fixed;
  z-index: 200;
  color: white;
  opacity: .95;
}
#top-nav #home {
  float: left;
  opacity: 0;
}
#top-nav #home img {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
}
#top-nav #home-name {
  float: left;
  color: white;
  font: 300 0.7em "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 1px 0 0 10px;
  opacity: 0;
}
#top-nav #home-name:hover {
  color: #ebe7df;
}
#top-nav.scrolled {
  background: #1f7f5c;
}
#top-nav.scrolled #home-name,
#top-nav.scrolled #home {
  opacity: 1;
}
#top-nav .wrap {
  padding: 10px 0;
}
#top-nav .wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#top-nav #top-nav-toggle {
  float: right;
  display: inline-block;
  text-indent: -999999em;
  background-position: 0 -117px;
  width: 22px;
  height: 15px;
  content: '';
  cursor: pointer;
}
#top-nav #top-nav-toggle:hover {
  opacity: .7;
}
#top-nav .top-nav-container {
  display: none;
  background: white;
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100%;
}
#top-nav .top-nav-container .menu {
  font: 1.1em "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}
#top-nav .top-nav-container ul {
  margin: 0 0 35px 15px;
}
#top-nav .top-nav-container ul li {
  display: block;
}
#top-nav .top-nav-container ul li a {
  display: block;
  border-top: 1px solid #ebe7df;
  padding: 13px 0;
  font-weight: 300;
}
#top-nav .top-nav-container ul li a:hover {
  color: #19664a;
}
#top-nav .top-nav-container ul li:first-child a {
  border-top: none;
}
#top-nav .top-nav-container ul li .sub-menu {
  margin-left: 20px !important;
  margin-bottom: 0 !important;
}
#top-nav .top-nav-container ul li .sub-menu li:first-child a {
  border-top: 1px solid #ebe7df;
}
#top-nav .top-nav-container ul li .sub-menu li a {
  font-size: .7em;
  padding: 7px 0;
}

body.expanded {
  overflow: hidden;
}
body.expanded #top-nav {
  background: #1f7f5c;
  display: block;
}
body.expanded #top-nav .top-nav-container {
  display: block;
  overflow-y: auto;
}
body.expanded #top-nav #top-nav-toggle {
  display: inline-block;
  text-indent: -999999em;
  background-position: 0 -86px;
  width: 11px;
  height: 11px;
  content: '';
  margin: 3px 2px 1px;
}
body.admin-bar #top-nav .top-nav-container {
  top: 68px;
}
body.admin-bar #top-nav .top-nav-container ul {
  margin-bottom: 68px;
}

#page-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  overflow: hidden;
  z-index: 40;
}
#page-cover img {
  width: 100%;
}

#content {
  margin: -20px 15px 0;
  position: relative;
  z-index: 60;
}
#content article {
  background: white;
  margin: 0 0 15px;
  position: relative;
  z-index: 40;
}
#content article.sticky {
  box-shadow: 5px 5px 0 #19664a;
}
#content article .entry-header .entry-meta {
  border-top: none;
  border-bottom: 1px solid #ebe7df;
}
#content article .entry-header .entry-featured-image {
  display: block;
}
#content article .entry-header .entry-featured-image img {
  width: 100%;
}
#content article .entry-header .entry-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 40;
  overflow: hidden;
}
#content article .entry-header .entry-background .shadow {
  display: black;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
}
#content article .entry-header .entry-background img {
  height: 100%;
}
#content article .entry-header .entry-title {
  font: bold 1em "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ebe7df;
  line-height: 1.6;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#content article .entry-header .entry-title a {
  color: #232323;
}
#content article .entry-header .entry-title a:hover {
  color: #1f7f5c;
}
#content article .entry-header .entry-original-link a {
  display: block;
  padding: 10px 20px 10px 40px;
  font: 0.8em "Montserrat", sans-serif;
  text-transform: lowercase;
  border-bottom: 1px solid #ebe7df;
  background: #fafafa;
  color: #232323;
  position: relative;
}
#content article .entry-header .entry-original-link a:hover {
  background: #1f7f5c;
  color: white;
}
#content article .entry-header .entry-original-link a:hover:before {
  background-position: 0 -15px;
}
#content article .entry-header .entry-original-link a:active {
  background: #19664a;
}
#content article .entry-header .entry-original-link a:before {
  content: '';
  text-indent: -99999em;
  width: 15px;
  height: 15px;
  background-position: 0 0;
  position: absolute;
  top: 12px;
  left: 20px;
}
#content article .entry-meta {
  display: block;
  padding: 10px 10px;
  line-height: 1;
  position: relative;
  z-index: 50;
  border-top: 1px solid #ebe7df;
}
#content article .entry-meta:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content article .entry-meta .entry-category {
  font: bold 0.8em "Montserrat", sans-serif;
  text-transform: uppercase;
  float: left;
  height: 16px;
}
#content article .entry-meta .entry-category a {
  color: #232323;
}
#content article .entry-meta .entry-author {
  font-weight: bold;
}
#content article .entry-meta .entry-author,
#content article .entry-meta .entry-author-action {
  display: none;
}
#content article .entry-meta .entry-posted-on {
  float: right;
  color: #c1c1c1;
  font-size: .6em;
  padding: 3px 0;
}
#content article .entry-meta .entry-posted-on .conventional-time {
  display: none;
}
#content article .entry-meta .entry-posted-on a {
  color: #c1c1c1;
}
#content article .entry-meta .entry-posted-on a:hover {
  text-decoration: underline;
}
#content article .entry-meta.single {
  text-align: center;
}
#content article .entry-meta.single .entry-posted-on {
  float: none;
}
#content article .entry-content {
  position: relative;
  z-index: 50;
  padding: 20px;
}
#content article .entry-content.entry-caption {
  padding: 10px;
  font-size: .7em;
  line-height: 1.7;
}
#content article .entry-content.entry-caption p:last-child {
  margin-bottom: 0;
}
#content article .entry-footer {
  display: black;
  position: relative;
  z-index: 50;
  background: #1f7f5c;
  color: white;
  font: 0.6em "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
}
#content article .entry-footer a {
  color: white;
}
#content article .entry-footer a:hover {
  color: #c1c1c1;
}
#content article .entry-footer a strong {
  font-weight: bold;
}
#content article.attachment .entry-content {
  padding: 20px 20px 0 !important;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: .7em;
}

.entry-content {
  font-size: .8em;
  line-height: 1.9;
  word-wrap: break-word;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.entry-content h1 {
  font: 1.4em "Montserrat", sans-serif;
  color: #232323;
  border-bottom: 1px solid #ebe7df;
  padding-bottom: 5px;
}
.entry-content h2 {
  font: 1.25em "Montserrat", sans-serif;
  color: #1f7f5c;
  border-bottom: 1px solid #ebe7df;
  padding-bottom: 5px;
}
.entry-content h3 {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: #232323;
  font: 1.1em;
}
.entry-content h4 {
  font-size: .9em;
  text-transform: uppercase;
}
.entry-content h5 {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 300;
}
.entry-content h6 {
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold;
}
.entry-content a {
  color: #1f7f5c;
  text-decoration: underline;
}
.entry-content a:hover {
  color: #19664a;
}
.entry-content p, .entry-content ul, .entry-content ol, .entry-content address, .entry-content pre, .entry-content table,
.entry-content input[type="text"], .entry-content input[type="password"] {
  margin-bottom: 15px;
}
.entry-content label {
  font-weight: 300;
}
.entry-content ul li {
  list-style: disc;
  margin-left: 20px;
}
.entry-content ol li {
  list-style: decimal;
  margin-left: 20px;
}
.entry-content q,
.entry-content blockquote {
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 15px;
}
.entry-content cite {
  font-size: .8em;
  font-weight: bold;
  margin-top: 10px;
}
.entry-content small {
  font-size: .6em;
}
.entry-content em, .entry-content i {
  font-style: italic;
}
.entry-content strong {
  font-weight: bold;
}
.entry-content sup {
  font-size: .6em;
  vertical-align: super;
}
.entry-content sub {
  font-size: .6em;
  vertical-align: sub;
}
.entry-content table {
  width: 100%;
}
.entry-content table thead tr {
  background: #cfcfcf;
}
.entry-content table thead tr th {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
}
.entry-content table tbody tr:nth-child(even) {
  background: #efefef;
}
.entry-content table tbody tr th,
.entry-content table tbody tr td {
  padding: 5px 10px;
  vertical-align: top;
}
.entry-content dl dt {
  font-weight: bold;
}
.entry-content dl dd {
  margin-left: 40px;
  font-weight: 300;
}
.entry-content address {
  font-weight: 300;
  margin-left: 40px;
}
.entry-content acronym,
.entry-content abbr {
  font-weight: 300;
}
.entry-content big {
  font-weight: bold;
  font-size: 1.2em;
}
.entry-content var,
.entry-content code,
.entry-content kbd,
.entry-content pre,
.entry-content code {
  font-family: monospace, serif;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.entry-content pre {
  font-size: .8em;
  padding: 30px 40px;
  border: 1px solid #dfdfdf;
  background: #efefef;
}
.entry-content .wp-caption-text {
  font-size: .7em;
  padding: 5px 10px 0;
  color: #afafaf;
  margin-bottom: 0;
  font-weight: 300;
}
.entry-content .aligncenter {
  margin: 0 auto 10px;
  display: block;
}
.entry-content .alignleft {
  float: left;
  margin: 0 20px 10px -0;
}
.entry-content .alignright {
  float: right;
  margin: 0 0 10px 20px;
}

.page-links {
  border: 1px solid #ebe7df;
  padding: 5px 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3;
  font-size: .7em;
}
.page-links a {
  text-decoration: none;
  font-weight: bold;
}

.gallery.gallery-columns-4 .gallery-item img {
  width: 100px;
  height: 100px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: none;
  width: 100%;
  padding: 6px 10px;
  font: 0.7em "Open Sans", sans-serif;
  border: 1px solid #e2dfd8;
  outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #888888;
}

input[type="submit"],
button,
.button {
  border: 0;
  background: #1f7f5c;
  font: 0.7em "Montserrat", sans-serif;
  color: white;
  padding: 7px 10px;
  border-bottom: 3px solid #19664a;
  cursor: pointer;
}
input[type="submit"]:active,
button:active,
.button:active {
  background: #19664a;
}

#nav-below {
  margin: 10px 0 40px;
  position: relative;
  z-index: 50;
}
#nav-below:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#nav-below div {
  float: right;
}
#nav-below a {
  font: 300 0.7em "Montserrat", sans-serif;
  text-transform: uppercase;
  float: left;
  background: #232323;
  padding: 10px 20px 8px;
  color: white;
  position: relative;
}
#nav-below a:after {
  position: absolute;
  top: 8px;
}
#nav-below .nav-next a {
  padding-left: 30px;
}
#nav-below .nav-next a:after {
  display: inline-block;
  text-indent: -999999em;
  background-position: 0 -97px;
  width: 11px;
  height: 20px;
  content: '';
  left: 10px;
}
#nav-below .nav-next a:hover {
  background: #000;
}
#nav-below .nav-next a:active {
  background: #333;
}
#nav-below .nav-previous {
  border-left: 1px solid #2e2e2e;
}
#nav-below .nav-previous a {
  padding-right: 30px;
}
#nav-below .nav-previous a:after {
  display: inline-block;
  text-indent: -999999em;
  background-position: 0 -66px;
  width: 11px;
  height: 20px;
  content: '';
  right: 10px;
}
#nav-below .nav-previous a:hover {
  background: #000;
}
#nav-below .nav-previous a:active {
  background: #333;
}

#comments {
  margin: 0 0 10px;
  position: relative;
  z-index: 50;
}
#comments .comments-title {
  font: 0.8em "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #232323;
  margin: 0 0 20px;
}
#comments .navigation-comment {
  padding-bottom: 10px;
}
#comments .navigation-comment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#comments .navigation-comment .nav-previous {
  float: left;
}
#comments .navigation-comment .nav-next {
  float: right;
}
#comments .navigation-comment a {
  float: left;
  font-size: .7em;
  font-style: italic;
  padding: 5px 10px;
}
#comments .navigation-comment a:hover {
  text-decoration: underline;
}
#comments .navigation-comment a:active {
  color: #19664a;
}
#comments .pingback,
#comments .comment {
  margin-bottom: 10px;
}
#comments .pingback .children,
#comments .comment .children {
  margin: 10px 0 0 40px;
}
#comments .pingback .comment-wrap,
#comments .comment .comment-wrap {
  position: relative;
  background: white;
}
#comments .pingback .comment-wrap .comment-avatar,
#comments .comment .comment-wrap .comment-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
}
#comments .pingback .comment-wrap .comment-avatar img,
#comments .comment .comment-wrap .comment-avatar img {
  width: 100%;
  height: 100%;
}
#comments .pingback .comment-wrap .comment-content,
#comments .comment .comment-wrap .comment-content {
  display: block;
  padding: 5px 10px 10px 60px;
  font-size: .8em;
}
#comments .pingback .comment-wrap .comment-action,
#comments .comment .comment-wrap .comment-action {
  font-size: .8em;
  border-top: 1px solid #ebe7df;
  background: #f6f4f2;
}
#comments .pingback .comment-wrap .comment-action:after,
#comments .comment .comment-wrap .comment-action:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#comments .pingback .comment-wrap .comment-action .comment-date,
#comments .comment .comment-wrap .comment-action .comment-date {
  float: left;
  border-left: 1px solid #ebe7df;
  padding: 10px 15px 8px;
  font: 0.7em "Montserrat", sans-serif;
  text-transform: uppercase;
}
#comments .pingback .comment-wrap .comment-action .comment-date .conventional-time,
#comments .comment .comment-wrap .comment-action .comment-date .conventional-time {
  display: none;
}
#comments .pingback .comment-wrap .comment-reply-link,
#comments .comment .comment-wrap .comment-reply-link {
  float: left;
  display: inline-block;
  text-indent: -999999em;
  background-position: 0 -42px;
  width: 16px;
  height: 12px;
  content: '';
  margin: 10px 12px;
}
#comments .pingback .comment-wrap .comment-reply-link:hover,
#comments .comment .comment-wrap .comment-reply-link:hover {
  background-position: 0 -30px;
}
#comments .pingback .comment-wrap .comment-reply-link:active,
#comments .comment .comment-wrap .comment-reply-link:active {
  background-position: 0 -54px;
}
#comments .pingback .comment-wrap .comment-content {
  padding-left: 10px;
}

.cancel-comment-reply {
  font-size: .6em;
  padding-bottom: 10px;
}
.cancel-comment-reply a:hover {
  text-decoration: underline;
}

#respond {
  margin: 40px 0;
}
#respond input[type="text"] {
  margin: 0 0 10px;
}
#respond textarea {
  resize: none;
  height: 150px;
  margin-bottom: 10px;
}
#respond .submit-comment-avatar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#respond .submit-comment-avatar .left-info {
  float: left;
  margin-right: 15px;
}
#respond .submit-comment-avatar .left-info img {
  width: 60px;
  height: 60px;
}
#respond .submit-comment-avatar .right-info {
  font-size: .7em;
}
#respond p {
  font-size: .8em;
}

#respond-title {
  font: 0.8em "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #232323;
}

#colophon {
  background: #e2dfd8;
  text-align: center;
  font-size: .7em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 60;
}
#colophon .wrap {
  padding: 20px 0;
}
#colophon .widgettitle {
  font: bold 1.1em "Montserrat", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#colophon .widget {
  margin-bottom: 40px;
}
#colophon ul li {
  margin-bottom: 5px;
}
#colophon .site-info {
  border-top: 1px solid #c1c1c1;
  font-size: .85em;
}
#colophon a {
  color: #888888;
}
#colophon a:hover {
  color: #1f7f5c;
}

#secondary .wrap {
  padding-top: 30px;
}

#wp-calendar {
  margin: 0 auto;
  width: 60%;
}
#wp-calendar caption {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#wp-calendar thead tr th {
  text-align: center;
  padding-bottom: 3px;
  font-weight: bold;
}
#wp-calendar tbody {
  font-family: 'Open Sans', sans-serif;
}
#wp-calendar tbody tr td {
  text-align: center;
  padding: 2px 0;
  font-size: .85em;
}
#wp-calendar tbody tr td a {
  font-weight: bold;
  color: #1f7f5c;
}

.widget_search input[type="text"] {
  width: 80%;
  display: inline-block;
  border-color: #888888;
  padding-top: 6px;
  padding-bottom: 7px;
}
.widget_search input {
  vertical-align: middle;
}

@media all and (min-width: 680px) {
  body {
    font-size: 25px;
  }
  body.logged-in #respond .submit-comment-avatar {
    padding: 25px !important;
  }
  body.logged-in #respond .submit-comment-avatar .left-info {
    margin-right: 25px;
  }

  #content,
  .wrap {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  #header .wrap {
    padding-top: 240px;
  }
  #header.single .wrap {
    padding-top: 250px;
  }
  #header.single .page-theme {
    font-size: 1.05em;
  }

  .page-theme {
    font-size: 2em;
  }

  .page-theme-description {
    font-size: .8em;
  }

  #header,
  #page-cover {
    height: 600px;
  }

  body.expanded #top-nav,
  #top-nav {
    background: #1f7f5c;
  }
  body.expanded #top-nav #home,
  #top-nav #home {
    opacity: 1;
  }
  body.expanded #top-nav #home img,
  #top-nav #home img {
    width: 50px;
    height: 50px;
  }
  body.expanded #top-nav #home-name,
  #top-nav #home-name {
    font-size: 1em;
    margin: 10px 0 0 15px;
  }
  body.expanded #top-nav #top-nav-toggle,
  #top-nav #top-nav-toggle {
    margin-top: 20px;
  }
  body.expanded #top-nav .top-nav-container,
  #top-nav .top-nav-container {
    top: 70px;
  }
  body.expanded #top-nav .top-nav-container ul,
  #top-nav .top-nav-container ul {
    width: 680px;
    margin: 0 auto 70px;
  }
  body.expanded #top-nav .top-nav-container .sub-menu,
  #top-nav .top-nav-container .sub-menu {
    margin-left: 40px !important;
  }

  body.admin-bar #top-nav .top-nav-container {
    top: 98px;
  }
  body.admin-bar #top-nav .top-nav-container ul {
    margin-bottom: 98px;
  }

  #content {
    margin-top: -62px;
  }
  #content article {
    margin-bottom: 60px;
  }
  #content article .entry-header .entry-meta {
    padding: 20px;
  }
  #content article .entry-header .entry-meta .entry-author,
  #content article .entry-header .entry-meta .entry-author-action {
    display: inline-block;
  }
  #content article .entry-header .entry-title {
    padding: 40px 80px;
    font-size: 1.3em;
    line-height: 1.2;
  }
  #content article .entry-content {
    padding: 60px 80px;
  }
  #content article .entry-footer {
    padding: 20px 20px 20px 75px;
  }

  .entry-content p, .entry-content ul, .entry-content ol, .entry-content address, .entry-content pre, .entry-content table,
  .entry-content input[type="text"], .entry-content input[type="password"] {
    margin-bottom: 25px;
  }

  #nav-below {
    margin-bottom: 80px;
  }
  #nav-below a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #nav-below a:after {
    top: 19px;
  }
  #nav-below .nav-previous a {
    padding-left: 30px;
    padding-right: 40px;
  }
  #nav-below .nav-next a {
    padding-right: 30px;
    padding-left: 40px;
  }

  #comments .comment {
    margin-bottom: 20px;
  }
  #comments .comment .children {
    margin-top: 20px;
  }
  #comments .comment .comment-wrap .comment-avatar {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
  }
  #comments .comment .comment-wrap .comment-avatar img {
    width: 100%;
    height: 100%;
  }
  #comments .comment .comment-wrap .comment-content {
    padding: 25px 40px 15px 110px;
  }
  #comments .pingback .comment-wrap .comment-content {
    padding: 25px 40px 15px 40px;
  }

  #respond {
    margin: 80px 0;
  }
  #respond input.comment-input {
    margin-bottom: 15px;
  }
  #respond input.comment-input.email {
    width: 49%;
  }
  #respond input.comment-input.author {
    width: 49%;
    margin-right: 2%;
  }
  #respond textarea {
    margin-bottom: 15px;
  }
  #respond input[type="submit"] {
    padding: 15px 20px 13px;
  }

  #secondary .wrap {
    padding-top: 60px;
  }
}
@media all and (min-width: 501px) and (max-width: 679px) {
  .gallery .gallery-item img {
    width: 120px;
    height: 120px;
  }
}
@media all and (max-width: 500px) {
  .gallery .gallery-item img {
    width: 75px;
    height: 75px;
  }
  .gallery.gallery-columns-4 .gallery-item img {
    width: 50px;
    height: 50px;
  }
}
body.admin-bar #page-cover {
  top: 27px;
}
body.logged-in #respond .submit-comment-avatar {
  background: #f6f4f2;
  border: 1px solid #e2dfd8;
  border-bottom: none;
  padding: 10px;
}
