/**
 * Typography
 */
@mixin opensans{
	font-family: 'Open Sans', sans-serif;
}
$opensans: 'Open Sans', sans-serif;

@mixin montserrat{
	font-family: 'Montserrat', sans-serif;
}
$montserrat: 'Montserrat', sans-serif;

/**
 * Variables
 */
$crem: #ebe7df;
$crem_dark: #e2dfd8;
$crem_darkest: #888888;
$green_dark: #19664a;
$green: #1f7f5c;
$text: #666666;
$black: #232323;
$gray: #c1c1c1;

/**
 * Mixins
 */
@mixin clearfix{
	&:after{
		content:".";
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
	}
}

@mixin clearfix1{
	&:after{
		content:".";
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
	}
}

@mixin sprite_replace_text( $name, $width, $height ){
	display: inline-block;
	text-indent: -999999em;
	@include sprites-sprite( $name );
	width: $width+px;
	height: $height+px;
	content: '';
}

@mixin content_styling{
	// font-size: .8em;
	line-height: 1.9;
	word-wrap: break-word;
	
	h1, h2, h3, h4, h5, h6{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	h1{
		font: 1.4em $montserrat;
		color: $black;
		border-bottom: 1px solid $crem;
		padding-bottom: 5px;
	}

	h2{
		font: 1.25em $montserrat;
		color: $green;
		border-bottom: 1px solid $crem;
		padding-bottom: 5px;
	}

	h3{
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
		color: $black;
		font: 1.1em;
	}

	h4{
		font-size: .9em;
		text-transform: uppercase;
	}

	h5{
		font-size: .75em;
		text-transform: uppercase;
		font-weight: 300;
	}

	h6{
		font-size: .6em;
		text-transform: uppercase;
		font-weight: bold;
	}

	a{
		color: $green;
		text-decoration: underline;

		&:hover{
			color: $green_dark;
		}
	}

	p, ul, ol, address, pre, table,
	input[type="text"], input[type="password"]{
		margin-bottom: 15px;
	}

	label{
		font-weight: 300;
	}

	ul{
		li{
			list-style: disc;
			margin-left: 22px;
		}
	}

	ol{
		li{
			list-style: decimal;
			margin-left: 27px;
		}
	}
	
	q,
	blockquote{
		font-weight: 300;
		font-size: 1.5em;
		font-style: italic;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	cite{
		// display: block;
		font-size: .8em;
		font-weight: bold;
		margin-top: 10px;
	}

	small{
		font-size: .6em;
	}

	em, i{
		font-style: italic;
	}

	strong{
		font-weight: bold;
	}

	sup{
		font-size: .6em;
		vertical-align: super;
	}

	sub{
		font-size: .6em;
		vertical-align: sub;
	}

	table{
		width: 100%;

		thead{
			tr{
				background: #cfcfcf;

				th{
					@include montserrat;
					text-transform: uppercase;
					padding: 5px 10px;	
				}
			}
		}

		tbody{
			tr{
				&:nth-child(even){
					background: #efefef;
				}

				th,
				td{
					padding: 5px 10px;
					vertical-align: top;
				}
			}
		}
	}

	dl{
		dt{
			font-weight: bold;
		}

		dd{
			margin-left: 40px;
			font-weight: 300;
		}
	}

	address{
		font-weight: 300;
		margin-left: 40px;
	}
	
	acronym,
	abbr{
		font-weight: 300;
	}

	big{
		font-weight: bold;
		font-size: 1.2em;
	}
	
	var,
	code,
	kbd,
	pre,
	code{
		font-family: monospace, serif;
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;		
	}

	pre{
		// line-height: 1.2;
		font-size: .8em;
		padding: 30px 40px;
		border: 1px solid #dfdfdf;
		background: #efefef;
		overflow-x: scroll;
		word-wrap: normal;
	}
	
	.gallery-caption,
	.wp-caption-text{
		font-size: .7em;
		padding: 5px 10px 0;
		color: #afafaf;
		margin-bottom: 0;
		font-weight: 300;
		line-height: 1.3;
	}
	
	.aligncenter{
		margin: 0 auto 10px;
		display: block;
	}

	.alignleft{
		float: left;
		margin: 0 20px 10px -0;
	}

	.alignright{
		float: right;
		margin: 0 0 10px 20px;
	}		
}