/** 
 * 6.1
 * Footer
 */
#colophon{
	background: $crem_dark;
	// color: $crem_darkest;
	text-align: center;
	font-size: .7em;
	@include montserrat;
	position: relative;
	z-index: 60; // should be placed above #page-cover: 40

	.wrap{
		padding: 20px 0;
	}

	.widgettitle{
		font: bold 1.1em $montserrat;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.widget{
		margin-bottom: 40px;
	}

	ul{
		li{
			margin-bottom: 5px;
		}
	}
	
	.site-info{
		border-top: 1px solid $gray;
		font-size: .85em;
	}

	a{
		color: $crem_darkest;

		&:hover{
			color: $green;
			text-decoration: underline;
		}
	}
}

#colophon-toggle{
	position: fixed;
	bottom: -1px;
	left: 50%;
	width: 120px;
	margin: 0 0 0 -80px;
	background: white;
	padding: 3px 20px 8px;
	border: 1px solid $crem_dark;
	z-index: 1000;
	line-height: 1;
	text-align: center;
	box-shadow: 0 -2px 0 $crem_dark;
	display: none;

	span{
		vertical-align: middle;
	}

	.label{
		font-size: .6em;
		text-transform: uppercase;
		@include montserrat;
	}

	.genericon{
		font-size: 24px;
		line-height: .7;
		margin-left: 5px;
	}

	.genericon-expand{
		display: none;
	}

	&.active{
		.genericon-collapse{
			display: none;
		}

		.genericon-expand{
			display: inline-block;
		}
	}
}

/** 
 * 6.2
 * Widgets
 */
#secondary{
	.wrap{
		padding-top: 30px;
	}
}

/** 
 * 6.2.1
 * Widget Calendar
 */
#wp-calendar{
	margin: 0 auto;
	width: 60%;

	caption{
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	thead{
		tr{
			// border-bottom: 3px solid $gray;

			th{
				text-align: center;
				padding-bottom: 3px;
				font-weight: bold;
			}
		}
	}

	tbody{
		@include opensans;

		tr{

			td{
				text-align: center;
				padding:2px 0;
				font-size: .85em;

				a{
					font-weight: bold;
					color: $green;
				}
			}
		}
	}
}

/** 
 * 6.2.2
 * Widget Search
 */
.widget_search{
	input[type="text"]{
		width: 75%;
		display: inline-block;
		border-color: $crem_darkest;
		padding-top: 6px;
		padding-bottom: 7px;
	}

	input{
		vertical-align: middle;
	}
}

/**
 * 6.3
 * Footer on infinite-scroll circumstance
 */
body.infinite-scroll{
	#colophon{
		position: fixed;
		top: 99%;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
		display: none;
		box-shadow: -2px 0 5px $crem_darkest;

		.site-info{
			.wrap{
				padding-bottom: 60px;
			}
		}
	}

	#colophon-toggle{
		display: block;
	}
}