/**
 * WP-IG Suport
 */

// Basic / Smaller screen
#content{
	article{
		&.instagram{
		 	.entry-title{
		 		display: none;
		 	}

			.entry-meta{
				position: relative;
				
				&:before{
					@include genericon;
					content: '\f215';
					position: absolute;
					top: 50%;
					left: 7px;
					margin: -7px 0 0 0;
					color: #517fa4;
					color: $green;
					color: #232323;
					color: #999;
				}

				.entry-category{
					margin-left: 18px;
				}
			}
		}
	}
}

// Desktop / Tablet above
@media all and (min-width: $tablet_and_desktop_width){
	#content{
		article{
			&.instagram{
				.entry-meta{
					&:before{
						font-size: 32px;
						left: 10px;
						margin: -14px 0 0 0;
					}

					.entry-category{
						margin-left: 30px;
					}
				}
			}	
		}
	}
}