/**
 * Jetpack Infinite Scroll Integration
 */
.infinite-loader{
	padding-bottom: 30px;

	.spinner{
		left: 49% !important;
	}
}

/**
 * Jetpack subscription Integration
 */
#respond{
	.comment-subscription-form{
		font-size: 14px;
		color: #555;
		margin-bottom: 8px;
	}
}

/**
 * Jetpack site-logo Integration
 */
.has-site-logo{
	&.home{
		#header{
			.page-theme{
				display: none;
			}

			.site-logo-link{
				margin-left: 10px;
			}			
		}
	}

	#top-nav{
		#home-name{
			display: none;
		}

		.site-logo-link{
			height: 26px;
			float: left;
			margin: 2px 0 0 15px;
			line-height: 1;

			img{
				height: 26px;
				width: auto;
			}
		}
	}

	&.rtl{
		#top-nav{
			.site-logo-link{
				float: right;
				margin-right: 15px;
				margin-left: 0;
			}
		}
	}
}

/**
* Custom Widgets
*/
.widget-grofile{
	.grofile-thumbnail{
		width: 150px !important;
		background-clip: padding-box; /* stops bg color from leaking outside the border: */
		-webkit-border-radius: 50%;
		border-radius: 50%;		
	}

	p{
		line-height: 1.6;
	}
}

.widget_contact_info{
	line-height: 1.4;

	.contact-map{
		margin-bottom: 10px;
	}
}

.widget_jetpack_display_posts_widget{
	.jetpack-display-remote-posts{
		padding-top: .3em;

		h4{
			font-weight: normal;
			margin-bottom: 1em;
		}
	}
}

.widget-gallery{
	text-align: center;

	.gallery-row{
		margin-right: auto;
		margin-left: auto;
	}
}