body{
	font: 20px $opensans;
	line-height: 1.6;
	background: $crem;
	color: $text;
}

a{
	color: $green;
	text-decoration: none;
}

.wrap-outer{
	display: block;
	width: 100%;
}

.wrap{
	display: block;
	margin: 0 10px;
}

.screen-reader-text{
	display: none;
}