#content{
	margin: -10px 10px 0;

	article{
		background: white;
		margin: 0 0 10px;
		position: relative;
		z-index: 100;

		.entry-header{

			.entry-meta{
				border-top: none;				
				border-bottom: 1px solid $crem;				
			}			
			
			.entry-featured-image{
				display: block;

				img{
					width: 100%;
				}
			}

			.entry-background{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 100;
				overflow: hidden;
				
				.shadow{
					display: black;
					width: 100%;
					height: 100%;
					background: white;
					opacity: .8;
					position: absolute;
					top: 0;
					left: 0;
				}

				img{
					// width: 100%;
					height: 100%;
				}
			}

			.entry-title{
				font:bold 1em $montserrat;
				text-transform: uppercase;
				text-align: center;
				padding: 20px;
				border-bottom: 1px solid $crem;
				line-height: 1.6;

				a{
					color: $black;

					&:hover{
						color: $green;
					}
				}
			}

			.entry-original-link{
				a{
					display: block;
					padding: 10px 20px 10px 40px;
					font: .8em $montserrat;
					text-transform: lowercase;
					border-bottom: 1px solid $crem;
					background: #fafafa;
					color: $black;
					position: relative;

					&:hover{
						background: $green;
						color: white;

						&:before{
							@include sprites-sprite( entry-original-link-icon-hover );
						}
					}

					&:active{
						background: $green_dark;
					}

					&:before{
						content: '';
						text-indent: -99999em;
						width: 15px;
						height: 15px;
						@include sprites-sprite( entry-original-link-icon );
						position: absolute;
						top: 12px;
						left: 20px;
					}
				}
			}
		}	

		.entry-meta{
			display: block;
			padding: 10px 10px;
			line-height: 1;
			position: relative;
			z-index: 200;
			border-top: 1px solid $crem;
			@include clearfix;

			.entry-category{
				font:bold .8em $montserrat;
				text-transform: uppercase;
				float: left;
				height: 16px;

				a{
					color: $black;
				}
			}

			.entry-author{
				font-weight: bold;
			}

			.entry-author,
			.entry-author-action{
				display: none;
			}

			.entry-posted-on{
				float: right;
				color: $gray;
				font-size: .6em;
				padding: 3px 0;

				.conventional-time{
					display: none;
				}
			}

			&.single{
				text-align: center;
				
				.entry-posted-on{
					float: none;
				}
			}
		}		
		
		.entry-content{
			position: relative;
			z-index: 200;

			padding: 20px;

			&.entry-caption{
				padding: 10px;
				font-size: .7em;
				line-height: 1.7;

				p:last-child{
					margin-bottom: 0;
				}
			}
		}	

		.entry-footer{
			display: black;
			position: relative;
			z-index: 200;
			background: $green;
			color: white;
			font: .6em $montserrat;
			text-transform: uppercase;
			padding: 10px 20px;

			a{
				color: white;

				&:hover{
					color: $gray;
				}

				strong{
					font-weight: bold;
				}
			}
		}
	}
}

.entry-content{
	font-size: .8em;
	line-height: 1.9;
	
	h1, h2, h3, h4, h5, h6{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	h1{
		font: 1.4em $montserrat;
		color: $black;
		border-bottom: 1px solid $crem;
		padding-bottom: 5px;
	}

	h2{
		font: 1.25em $montserrat;
		color: $green;
		border-bottom: 1px solid $crem;
		padding-bottom: 5px;
	}

	h3{
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
		color: $black;
		font: 1.1em;
	}

	h4{
		font-size: .9em;
		text-transform: uppercase;
	}

	a{
		color: $green;
		text-decoration: underline;

		&:hover{
			color: $green_dark;
		}
	}

	p, ul, ol{
		margin-bottom: 15px;
	}

	ul{
		li{
			list-style: disc;
			margin-left: 20px;
		}
	}

	ol{
		li{
			list-style: decimal;
			margin-left: 20px;
		}
	}

	blockquote{
		font-weight: 300;
		font-size: 1.5em;
		font-style: italic;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	small{
		font-size: .6em;
	}

	em, i{
		font-style: italic;
	}

	strong{
		font-weight: bold;
	}

	sup{
		font-size: .6em;
		vertical-align: super;
	}

	sub{
		font-size: .6em;
		vertical-align: sub;
	}

	.wp-caption-text{
		font-size: .7em;
		padding: 5px 10px 0;
		color: #afafaf;
	}

	.alignleft{
		float: left;
		margin: 0 20px 20px -0;
	}

	.alignright{
		float: right;
		margin: 0 0 20px 20px;
	}	
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
	border: none;
	width: 100%;
	padding: 6px 10px;
	font: .7em $opensans;
	border: 3px solid $crem_dark;
	outline: none;
	
	&:focus{
		border-color: $crem_darkest;
	}
}

input[type="submit"],
button,
.button{
	border: 0;
	background: $green;
	font: .7em $montserrat;
	color: white;
	padding: 7px 10px;
	border-bottom: 3px solid $green_dark;
	cursor: pointer;

	&:active{
		background: $green_dark;
	}
}

#nav-below{
	margin: 10px 0 40px;
	@include clearfix;
	position: relative;
	z-index: 200; // should be above #page-cover 100

	div{
		float: right;
	}

	a{
		font: 300 .7em $montserrat;
		text-transform: uppercase;
		float: left;
		background: $black;
		padding: 10px 20px 8px;
		color: white;
		position: relative;

		&:after{
			position: absolute;
			top: 8px;
		}
	}

	.nav-next{	
		a{
			padding-left: 30px;

			&:after{
				@include sprite_replace_text( nav-below-prev, 11, 20 );
				left: 10px;
			}

			&:hover{
				background: #000;
			}

			&:active{
				background: #333;
			}
		}
	}

	.nav-previous{
		border-left: 1px solid #2e2e2e;

		a{
			padding-right: 30px;

			&:after{
				@include sprite_replace_text( nav-below-next, 11, 20 );
				right: 10px;
			}

			&:hover{
				background: #000;
			}

			&:active{
				background: #333;
			}
		}
	}
}

#comments{
	margin: 0 0 10px;
	position: relative;
	z-index: 200; // should be above #page-cover 100

	.comments-title{
		font: .8em $montserrat;
		text-transform: uppercase;
		color: $black;
		margin: 0 0 20px;
	}

	.comment{
		margin-bottom: 10px;

		.children{
			margin:10px 0 0 40px;
		}

		.comment-wrap{
			position: relative;
			background: white;

			.comment-meta{
				.comment-author{
						
				}	
			}	

			.comment-avatar{
				position: absolute;
				top: 10px;
				left: 10px;
				width: 40px;
				height: 40px;

				img{
					width: 100%;
					height: 100%;
				}
			}

			.comment-content{
				display: block;
				padding: 5px 10px 10px 60px;
				font-size: .8em;
			}

			.comment-action{
				font-size: .8em;
				border-top: 1px solid $crem;
				background: #f6f4f2;

				@include clearfix;

				.comment-date{
					float: left;
					border-left: 1px solid $crem;
					padding: 10px 15px 8px;
					font: .7em $montserrat;
					text-transform: uppercase;

					.conventional-time{
						display: none;
					}
				}									
			}

			.comment-reply-link{
				float: left;
				@include sprite_replace_text( comment-reply, 16, 12 );
				margin: 10px 12px;

				&:hover{
					@include sprites-sprite( comment-reply-hover );
				}

				&:active{
					@include sprites-sprite( comment-reply-active );
				}
			}
		}
	}
}

#respond{
	margin: 40px 0 0;

	input[type="text"]{
		margin:0 0 10px;
	}

	textarea{
		resize: none;
		height: 150px;
		margin-bottom: 10px;
	}

	.comment-input{
		&.email{
			width: 48%;
		}

		&.author{
			width: 49%;
			margin-right: 1%;
		}
	}
}

#respond-title{
	font: .8em $montserrat;
	text-transform: uppercase;
	margin: 0 0 10px 10px;
	color: $black;
}