// Header
#header{
	display: block;
	width: 100%;
	height: 210px;
	@include clearfix;
	position: relative;
	z-index: 200;
	color: white;

	.wrap{
		padding:70px 0 0;
	}

	a{
		color: white;
	}

	&.dark{
		color: $black;

		a{
			color: $black;			
		}
	}

	&.single{
		.page-theme{
			font-size: 16px;
		}
	}
}

.page-theme{
	font: 25px $montserrat;
	text-transform: uppercase;
	margin-left: 10px;

	a{
		text-decoration: none;		
	}
}

.page-theme-description{
	font: italic 13px $opensans;
	margin-left: 10px;
}

// Navigation
#top-nav{
	display: block;
	position: fixed;
	z-index: 500;
	color: white;
	opacity: .95;

	&.scrolled{
		background: $green;		
	}

	&.expanded{
		background: $green;
		
		.top-nav-container{
			display: block;				
		}

		#top-nav-toggle{
			@include sprite_replace_text( top-nav-toggle-close, 11, 11 );
			margin: 3px 2px 1px;
		}
	}

	.wrap{
		padding: 10px 0;
		@include clearfix;
	}

	#top-nav-toggle{
		float: right;
		@include sprite_replace_text( top-nav-toggle-open, 22, 15 );
		cursor: pointer;
	}

	.top-nav-container{
		display: none;
		background: white;
		position: fixed;
		top: 35px;
		left: 0;
		width: 100%;
		height: 100%;

		.menu{
			font: 1.1em $montserrat;
			text-transform: uppercase;
		}

		ul{
			margin: 0 0 0 20px;

			li{
				a{
					display: block;
					border-top: 1px solid $crem;
					padding: 13px 0;
					font-weight: 300;
				}

				&:first-child{
					a{
						border-top: none;
					}
				}
			}
		}		
	}
}

// Page Cover
#page-cover{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 210px;
	overflow: hidden;
	z-index: 100;

	img{
		width: 100%;
	}
}